spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/items_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  flyway:
    baseline-on-migrate: true
    locations: classpath:db/migration
    baseline-version: 1
    # Эти настройки говорят Flyway, что таблица уже есть
    baseline-description: "Base migration"
    clean-disabled: true
server:
  port: 8080